<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="resetyourpassword anima-word-break">
    <div class="page-wrapper">
        
        <div class="resetyourpassword1">
            Reset your<br />Password
        </div>

        <a href="javascript:void(0)" ion-button (click)="submit()">
          <div class="rectangle1">
          </div>
          <div class="sendrequest">
              Send Request
          </div>
        </a>
        
        <div class="groupcopy">
            <input class="form-input" [(ngModel)]="inputs.username" placeholder="Email or Telephone" type="text">
            <div class="username label">
                Username
            </div>
            <div data-error="yes" [innerHTML]="validation.error.username"></div>
        </div>
        
        <div class="groupcopy2">
            <input class="form-input" placeholder="Your new password" [(ngModel)]="inputs.password" type="password">
            <div class="password label">
                Password
            </div>
            <div data-error="yes" [innerHTML]="validation.error.password"></div>
        </div>

        <div class="groupcopy3">
            <input class="form-input" placeholder="Your new password again" [(ngModel)]="inputs.password_again" type="password" data-input="[\S\s]{4,}" data-message="Your password must not be empty or less than 4 characters">
            <div class="passwordagain label">
                Password Again
            </div>
            <div data-error="yes" [innerHTML]="validation.error.password_again"></div>
        </div>

        <a href="javascript:void(0)" [routerLink]="['/home']">
            <div class="gobacktologin">
                Go back to login
            </div>
        </a>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>