.resetyourpassword {
    width               : 100%;
    min-width           : 320px;
    height              : 100vh;
    min-height          : 788px;
    position            : relative;
    overflow            : hidden;
    margin              : 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color    : rgba(255, 255, 255, 1.0);
    opacity             : 1.0;
  }
  .resetyourpassword .resetyourpassword1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 80px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-style          : normal;
    font-size           : 47.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 48.0px;
  }
  .resetyourpassword .label{
    font-family         : "Roboto-bold", Helvetica, Arial, serif !important;
  }
  .resetyourpassword .rectangle {
    background-color    : rgba(255,255,255,0.0);
    top                 : 721px;
    height              : 92px;
    width               : 345px;
    position            : absolute;
    margin              : 0;
    left                : -13px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }

.resetyourpassword .rectangle1 {
    background-color    : rgba(255, 144, 1, 1.0);
    top                 : 586px;
    height              : 56px;
    width               : 285px;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    border-radius       : 28px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .sendrequest {
    background-color    : rgba(255,255,255,0.0);
    top                 : 605px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 109px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .resetyourpassword .groupcopy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 233px;
    height              : 75px;
    width               : 286px;
    position            : absolute;
    margin              : 0;
    left                : 14px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .groupcopy .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 48px;
    box-sizing          : border-box;
    width               : 285px;
    position            : absolute;
    margin              : 0;
    left                : 1px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .groupcopy .emailortelephone {
    background-color    : rgba(255,255,255,0.0);
    top                 : 42px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 20.0px;
  }
  .resetyourpassword .groupcopy .username {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .resetyourpassword .groupcopy2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 333px;
    height              : 75px;
    width               : 286px;
    position            : absolute;
    margin              : 0;
    left                : 14px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .groupcopy2 .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 48px;
    box-sizing          : border-box;
    width               : 285px;
    position            : absolute;
    margin              : 0;
    left                : 1px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .groupcopy2 .yournewpassword {
    background-color    : rgba(255,255,255,0.0);
    top                 : 42px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 20.0px;
  }
  .resetyourpassword .groupcopy2 .password {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .resetyourpassword .groupcopy3 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 440px;
    height              : 75px;
    width               : 286px;
    position            : absolute;
    margin              : 0;
    left                : 14px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .groupcopy3 .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 48px;
    box-sizing          : border-box;
    width               : 285px;
    position            : absolute;
    margin              : 0;
    left                : 1px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .resetyourpassword .groupcopy3 .yournewpasswordag {
    background-color    : rgba(255,255,255,0.0);
    top                 : 42px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 20.0px;
  }
  .resetyourpassword .groupcopy3 .passwordagain {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .resetyourpassword .gobacktologin {
    background-color    : rgba(255,255,255,0.0);
    top                 : 663px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 107px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
    text-decoration     : underline;
  }