<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="becomeavolunteercomplete anima-word-break ">
    <div class="page-wrapper">
        <div class="volunteerName">
            Chinedu<br />Frank
        </div>
        <a href="javascript:void(0)" ion-button [routerLink]="['/homescreen']">
          <div class="rectangle2">
          </div>
          <div class="submit">
              Submit
          </div>
        </a>

        <div class="groupcopy">
            <textarea class="form-input" placeholder="Tell us a little about you"></textarea>
            <div class="aboutyou">
                About you
            </div>
        </div>
        <div class="rectangle3">
        </div>
        <div class="department">
            Warefare
        </div>
        <img alt="Image/" src="../../assets/img/become-a-volunteer-complete-oval@2x.png" class="oval" />
        <div class="rectangle4">
        </div>
        <img alt="Image/" src="../../assets/img/N6nc-video-submitted-successfully-oval@2x.png" class="oval1"/>
        <div class="youneedtoattacha">
            You need to attach a <br />display image. Click here<br />to continue.
        </div>
        <div class="add">
            <img alt="Image/" src="../../assets/img/PpSK-send-a-message-path-5@2x.png" class="path"/>
        </div>
        <div class="rectangle5">
        </div>
        <div class="selectfromyourlib">
            Select from your library
        </div>
        <div class="attachyourcv">
            Attach your CV
        </div>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>