.becomeavolunteercomplete {
    width               : 100%;
    height              : 100vh;
    min-height          : 898px;
    position            : relative;
    overflow            : hidden;
    margin              : 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color    : rgba(255, 255, 255, 1.0);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .rectangle {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : -1px;
    height              : 61px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    left                : -1px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .volunteerName {
    background-color    : rgba(255,255,255,0.0);
    top                 : 80px;
    height              : auto;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-style          : normal;
    font-size           : 47.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 48.0px;
  }
  .becomeavolunteercomplete .rectangle1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 821px;
    height              : 92px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .rectangle2 {
    background-color    : rgba(255, 144, 1, 1.0);
    top                 : 734px;
    height              : 56px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-radius       : 28px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .submit {
    background-color    : rgba(255,255,255,0.0);
    top                 : 753px;
    height              : auto;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : center;
    line-height         : 19.0px;
  }
  .becomeavolunteercomplete .groupcopy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 471px;
    height              : 231px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .groupcopy .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 204px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .groupcopy .tellusalittleabo {
    background-color    : rgba(255,255,255,0.0);
    top                 : 43px;
    height              : auto;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteercomplete .groupcopy .aboutyou {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .becomeavolunteercomplete .rectangle3 {
    background-color    : rgba(51, 112, 163, 0.07);
    top                 : 195px;
    height: 17px;
    min-width: 88px;
    position: absolute;
    margin: 0;
    border-radius: 5px;
    transform: rotate(0deg);
    opacity: 1;
    max-width: 120px;
    width: auto;
  }

  .becomeavolunteercomplete .rectangle3-p{
    top                 : 195px;
    position: absolute;
    margin: 0;
    width: 100%;
  }
  .becomeavolunteercomplete .department {
    background-color    : rgba(255,255,255,0.0);
    top                 : 196px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 20px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 12.0px;
    color               : rgba(51, 112, 163, 1.0);
    text-align          : left;
    line-height         : 14.0px;
  }
  .becomeavolunteercomplete .oval {
    background-color    : rgba(255,255,255,0.0);
    top                 : 201px;
    height              : 5px;
    width               : 5px;
    position            : absolute;
    margin              : 0;
    left                : 7px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .rectangle4 {
    background-color    : rgba(228, 138, 16, 0.12);
    top                 : 235px;
    height              : 99px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-radius       : 6px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .oval1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 256px;
    height              : 57px;
    width               : 57px;
    position            : absolute;
    margin              : 0;
    right               : 20px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .youneedtoattacha {
    background-color    : rgba(255,255,255,0.0);
    top                 : 256px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 20px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(121, 121, 121, 1.0);
    text-align          : left;
    line-height         : 21.0px;
  }
  .becomeavolunteercomplete .add {
    background-color    : rgba(255,255,255,0.0);
    top                 : 274px;
    height              : 22px;
    width               : 20px;
    position            : absolute;
    margin              : 0;
    right               : 37px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete label[for="display_image"]:hover{
    cursor: pointer;
  }
  .becomeavolunteercomplete .add .path {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 22px;
    width               : 20px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .add .path.number{
    font-size           : 20px;
    left                : 4px;
    color               : rgba(255, 144, 1, 1.0);
    font-family         : "Roboto", Helvetica, Arial, serif;
    display             : none;
  }
  .becomeavolunteercomplete .rectangle5 {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 394px;
    min-height          : 46px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteercomplete .rectangle5:hover{
    cursor: pointer;
  }
  .becomeavolunteercomplete .selectfromyourlib {
    background-color    : rgba(255,255,255,0.0);
    top                 : 15px;
    height              : auto;
    width               : auto;
    position            : relative;
    margin              : 0;
    left                : 20px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteercomplete .selectfromyourlib .count{
    display: inline-block;
    margin-left: 20px;
  }
  .becomeavolunteercomplete .attachyourcv {
    background-color    : rgba(255,255,255,0.0);
    top                 : 367px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .becomeavolunteercomplete .document {
    background-color    : rgba(255,255,255,0.0);
    top                 : 410px;
    height              : 15px;
    width               : 12px;
    position            : absolute;
    margin              : 0;
    left                : 273px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }

  .preloader{
    display: block;
    width: 50%;
    border-radius: 10px;
    background: #dff5f7;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 4px;
    overflow: hidden;
  }

  .rectangle3-p .preloader{
    height: 17px;
    width: 88px;
  }

  .preloader::after{
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 50%;
    background: linear-gradient(80deg,#dff5f7, #d4eff1, #dff5f7);
    content: "";
    animation: preload 1s linear infinite;
  }

  @keyframes preload{
    to{
      left: -50%;
    }
  }