<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="becomeavolunteercomplete anima-word-break ">
    <div style="width: 320px; height: 100%; position:relative; margin:auto;">
        <div class="rectangle">
        </div>
        <a href="becomeavolunteer.html">
            <img alt="Image/" anima-src="./img/sVeO-online-conversation-arrow1@2x.png" class="arrow1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </a>
        <div class="volunteerName">
            Chinedu<br />Frank
        </div>
        <img alt="Image/" anima-src="./img/DLLg-send-a-feedback-rectangle.png" class="rectangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        
        <a href="javascript:void(0)" ion-button [routerLink]="['/homescreen']">
          <div class="rectangle2">
          </div>
          <div class="submit">
              Submit
          </div>
        </a>

        <div class="groupcopy">
            <textarea class="form-input" placeholder="Tell us a little about you"></textarea>
            <div class="aboutyou">
                About you
            </div>
        </div>
        <div class="rectangle3">
        </div>
        <div class="department">
            Warefare
        </div>
        <img alt="Image/" src="../../assets/img/become-a-volunteer-complete-oval@2x.png" class="oval" />
        <div class="rectangle4">
        </div>
        <img alt="Image/" src="../../assets/img/N6nc-video-submitted-successfully-oval@2x.png" class="oval1"/>
        <div class="youneedtoattacha">
            You need to attach a <br />display image. Click here<br />to continue.
        </div>
        <div class="add">
            <img alt="Image/" src="../../assets/img/PpSK-send-a-message-path-5@2x.png" class="path"/>
        </div>
        <div class="rectangle5">
        </div>
        <div class="selectfromyourlib">
            Select from your library
        </div>
        <div class="attachyourcv">
            Attach your CV
        </div>
        <div class="document">
            <img alt="Image/" anima-src="./img/become-a-volunteer-complete-shape-8@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/become-a-volunteer-complete-path-6@2x.png" class="path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/become-a-volunteer-complete-path-7@2x.png" class="path1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/mHz5-become-a-volunteer-complete-path-10@2x.png" class="path2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/become-a-volunteer-complete-path-9@2x.png" class="path3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/mHz5-become-a-volunteer-complete-path-10@2x.png" class="path4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/7Hn9-become-a-volunteer-complete-path-19@2x.png" class="path5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/SCss-become-a-volunteer-complete-path-12@2x.png" class="path6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/become-a-volunteer-complete-path-13@2x.png" class="path7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/mHz5-become-a-volunteer-complete-path-10@2x.png" class="path8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/SCss-become-a-volunteer-complete-path-12@2x.png" class="path9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/become-a-volunteer-complete-path-16@2x.png" class="path10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/7Hn9-become-a-volunteer-complete-path-19@2x.png" class="path11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/7Hn9-become-a-volunteer-complete-path-19@2x.png" class="path12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img alt="Image/" anima-src="./img/7Hn9-become-a-volunteer-complete-path-19@2x.png" class="path13" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>