<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sendamessage anima-word-break">
    <div class="page-wrapper">
        <div class="sendamessage1">
            Send a<br />Message
        </div>
        <div class="rectangle">
          <textarea class="form-input" [(ngModel)]="inputs.report" data-input="[\S\s]{10,}" data-message="Help us understand your report better." placeholder="Your report here"></textarea>
        </div>
        
        <div ion-button (click)="loadImages()">
          <div class="rectangle2">
          </div>
          <img alt="Image/" src="../../assets/img/N6nc-video-submitted-successfully-oval@2x.png" class="oval" />
          <div class="havesomeimagesyo">
              Have some images?<br />You can attach them<br />here.
          </div>
          <div class="add">
              <img alt="Image/" src="../../assets/img/PpSK-send-a-message-path-5@2x.png" class="path image" />
              <span class="path number"></span>
          </div>
        </div>

        <a href="javascript:void(0)" ion-button (click)="submit()">
          <div class="rectangle3">
          </div>
          <div class="submitreport">
              Submit Report
          </div>
        </a>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>