<ion-header class="ion-no-border header-with-color">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="onlinecounselors anima-word-break ">
    <div class="page-wrapper">
        
        <div class="onlinecounselors1">
            Online<br />Counselors
        </div>
        <a href="javascript:void(0)" ion-button (click)="loginAndRedirect()">
            <div class="group">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/xQTj-knowledge-center-oval@2x.png" class="oval" />
                <div class="continueasacounse">
                    Continue as a counselor
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path" />
                </div>

                <div class="clickheretologin">
                    Click here to login as a counselor to continue chatting.
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" ion-button [routerLink]="['/chat-list']">
            <div class="groupcopy">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/ceTK-send-an-audio-oval-1@2x.png" class="oval" />
                <div class="chat19copy">
                    <img alt="Image/" src="../../assets/img/online-counselors-path-1@2x.png" class="path" />
                    <img alt="Image/" src="../../assets/img/luzH-online-counselors-path-3@2x.png" class="path1" />
                    <img alt="Image/" src="../../assets/img/luzH-online-counselors-path-3@2x.png" class="path2" />
                    <img alt="Image/" src="../../assets/img/online-counselors-shape@2x.png" class="shape" />
                </div>
                <div class="chatwithacounselo">
                    Chat with a counselor
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path" />
                </div>

                <div class="needcounsellingcl">
                    Need Counseling? Click here to chat with an online counselor.
                </div>
            </div>
        </a>
        
        <div class="user">
            <img alt="Image/" src="../../assets/img/online-counselors-shape-9@2x.png" class="shape" />
        </div>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>