.volunteers {
    width               : 100%;
    height              : 100%;
    position            : relative;
    overflow            : visible;
    margin              : 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color    : rgba(255, 255, 255, 1.0);
    opacity             : 1.0;
    margin-bottom       : 150px;
}

.volunteers .pageTitle{
    background-color    : rgba(255,255,255,0.0);
    height              : auto;
    width               : auto;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-style          : normal;
    font-size           : 47.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 48.0px; 
    display             : block;
    margin-top          : 60px;
}

.volunteers .position{
    background: rgba(51, 112, 163, 0.07);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 17px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #3370a3;
    padding-right: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    display: inline-flex;
    padding-left: 16px;
  }

  .volunteers .position::before{
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #FF9001;
      left: 5px;
  }

  .volunteers .main-picture{
      width: 100%;
      height: 300px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .volunteers .main-picture img{
      object-fit: cover;
      width: 100%;
      height: 100%;
  }

  .volunteers .label{
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-size           : 24px;
    margin-top          : 15px;
    display             : block;
  }

  .volunteers p.text{
    line-height: 21px;
  }

  .choose-conversation{
    width: 62px;
    height: 62px;
    background-color: #FF9001;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 80px;
    right: 10px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.1);
}

.choose-conversation:hover{
    cursor: pointer;
}