<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-wrapper-no-height">
    <div class="page-title">
      Online<br/>Counselling
    </div>

    <!-- chat title -->
    <h3 class="section-header">Recent Chat{{plural}}</h3>

    <!-- chat list -->
    <div class="chat-lists">

      <div class="{{newMessage(chat)}}" ion-button *ngFor="let chat of chats" (click)="chatNow(chat)">
        <div class="chat-list-image">
          <img src="{{loadImage(chat.display_image)}}"/>
        </div>
        <div class="chat-list-content">
          <div class="chat-list-header">
            <span class="chat-name">{{chat.firstname | titlecase}} {{chat.lastname | titlecase}}</span>
            <span class="chat-time">{{chat.date}}</span>
          </div>
          <div class="chat-list-footer">
            <!-- <span class="message-pointer read"    *ngIf="chat.unread == 0"></span> -->
            <span class="message-pointer hide"    *ngIf="chat.lastreplied == 0"></span>
            <!-- <span class="message-pointer unread"  *ngIf="chat.unread == 1"></span> -->
            <span class="short-message">{{chat.message}}</span>
            <span class="message-count" *ngIf="chat.lastreplied == chat.accountid">1</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
  <div class="choose-conversation" ion-button [routerLink]="['/select-counselors']">
    <img src="../../assets/img/chat-19.svg"/>
  </div>
</ion-footer>