<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="about anima-word-break">
    <div class="page-wrapper">
        <img alt="Image/" src="../../assets/img/about-asset-14x@2x.png" class="asset14x"/>
        <div class="version001">
            Version 0.0.1
        </div>
        <div class="theunitednationsp">
            The United Nations Population Fund (UNFPA) is one of the leading UN Agencies in advancing the reproductive health needs of young people, women and girls. The Agency is much determined to create a paradigm shift in issues regarding sexual and gender-based violence and as such offers a sterling opportunity for professionals in the Clinical Health and Psychology Industry to assist in this regard with its current Flagship initiative, the BOAME PROJECT
        </div>

        <div class="partners">
            <img alt="Image/" src="../../assets/img/download.svg" class="download"/>
            <img alt="Image/" src="../../assets/img/11292019124151-23041q5ddx-dovvsu.svg" class="a1129201912415123041q5ddxdovvsu"/>
        </div>

        <a href="javascript:void(0)" ion-button [routerLink]="['/report-case']">
            <div class="group">
                <div class="reportacase">
                    Report a Case
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" ion-button [routerLink]="['/knowledge-center']">
            <div class="group">
                <div class="getinformed">
                    Get Informed
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" ion-button [routerLink]="['/send-a-feedback']">
            <div class="group">
                <div class="sendusafeedback">
                    Send us a feedback
                </div>
            </div>
        </a>
        
    </div>
</div>
</ion-content>
