  .about .page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about .asset14x {
    background-color    : rgba(255,255,255,0.0);
    top                 : 25px;
    height              : 159px;
    width               : 159px;
    position            : relative;
    margin              : 0 auto;
    transform           : rotate(0deg);
    opacity             : 1.0;
    margin-top          : -10px;
  }
  .about .version001 {
    background-color    : rgba(255,255,255,0.0);
    height              : auto;
    width               : auto;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 12.0px;
    color               : rgba(162, 162, 162, 1.0);
    text-align          : left;
    line-height         : 14.0px;
    margin-top          : -10px;
  }
  .about .theunitednationsp {
    background-color    : rgba(255,255,255,0.0);
    height              : auto;
    width               : 90%;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : center;
    line-height         : 21.0px;
    margin-top          : 10px;
    margin-bottom       : 20px;
  }
  .about .group {
    background-color    : rgba(51, 112, 163, 0.08);
    height              : 35px;
    width               : 208px;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    border-radius       : 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about a{
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;
  }
  .partners{
      margin-top: 20px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
  }
  .partners img{
    margin-bottom: 15px;
  }