<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="createanaccount anima-word-break">
    <div class="page-wrapper">
        <div class="createanaccount1">
            Create an<br />Account
        </div>

        <a href="javascript:void(0)" ion-button (click)="register()">
            <div class="rectangle">
            </div>

            <div class="register">
              Register
            </div>
        </a>
        
        <div class="groupcopy">
            <input class="form-input" placeholder="Your email" [(ngModel)]="inputs.email" type="email" data-input="[\S]{5,}" data-message="Should be a valid email address">
            <div class="emailaddress label">
                Email Address
            </div>
            <div data-error="yes" [innerHTML]="validation.error.email"></div>
        </div>
        <div class="groupcopy2">
            <input class="form-input" placeholder="Your phone number" type="tel" [(ngModel)]="inputs.phone" data-input="[\d]{5,}" data-message="Should be a valid telephone number">
            <div class="telephone label">
                Telephone
            </div>
            <div data-error="yes" [innerHTML]="validation.error.phone"></div>
        </div>
        <div class="groupcopy7">
            <select [(ngModel)]="inputs.gender" class="form-input" data-input="[\S]{2,}" data-message="Please select a gender">
                <option value="">Please select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <div class="gender label">
                Gender
            </div>
            <div data-error="yes" [innerHTML]="validation.error.gender"></div>
        </div>
        <div class="groupcopy4">
            <input class="form-input" placeholder="Your password" type="password" [(ngModel)]="inputs.password" data-input="[\S\s]{4,}" data-message="Should be a password you can remember of 4 characters or more.">
            <div class="password label">
                Password
            </div>
            <div data-error="yes" [innerHTML]="validation.error.password"></div>
        </div>
        <div class="groupcopy5">
            <input class="form-input" placeholder="Your password again" type="password" [(ngModel)]="inputs.password_again" data-input="[\S\s]{4,}" data-message="Should match your password and cannot be empty.">
            <div class="passwordagain label">
                Password Again
            </div>
            <div data-error="yes" [innerHTML]="validation.error.password_again"></div>
        </div>
        <div class="groupcopy3">
            <div class="input-group">
                <input class="form-input" placeholder="First Name" type="text" [(ngModel)]="inputs.firstname" data-input="[\S\s]{2,}" data-parent=".groupcopy3 > .error-wrapper" data-message="Should be your first name">
                <input class="form-input" placeholder="last Name" type="text" [(ngModel)]="inputs.lastname" data-input="[\S\s]{2,}" data-parent=".groupcopy3 > .error-wrapper" data-message="Should be your last name">
            </div>
            <div class="error-wrapper">
                <div data-error="yes" [innerHTML]="validation.error.firstname"></div>
                <div data-error="yes" [innerHTML]="validation.error.lastname"></div>
            </div>
            <div class="fullname label">
                Fullname
            </div>
        </div>

        <a href="javascript:void(0)" ion-button [routerLink]="['/become-a-volunteer']">
            <div class="rectangle1 add-shadow-and-curve">
            </div>
        
            <div class="group">
                <img alt="Image/" src="../../assets/img/N6nc-video-submitted-successfully-oval@2x.png" class="oval" />
            </div>
            <div class="clickheretoregist">
                Click here to register as<br />a volunteer.
            </div>
            <div class="users">
                <img alt="Image/" src="../../assets/img/create-an-account-shape@2x.png" class="shape" />
            </div>
        </a>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>