<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="translucent" id="article-app-header">
    <app-article-header></app-article-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="article-content-header" style="background-image: url('{{loadImage(article.article_cover_image)}}');"></div>
  <div class="page-wrapper">
    <div class="author-pub-info">
      <span>{{article.submittedby | titlecase}}</span>
      <span>{{article.date_string}}</span>
    </div>

    <!-- article title -->
    <div class="article-title">
      {{article.article_title | titlecase}}
    </div>

    <!-- article content -->
    <p class="article-content">
      {{article.article_text | titlecase}}
    </p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>