.becomeavolunteer {
    width               : 100%;
    height              : 100vh;
    min-height          : 1100px;
    position            : relative;
    overflow            : hidden;
    margin              : 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color    : rgba(255, 255, 255, 1.0);
    opacity             : 1.0;
  }
  .becomeavolunteer .rectangle {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 0px;
    height              : 61px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  
  .becomeavolunteer .becomeavolunteer1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 80px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-style          : normal;
    font-size           : 47.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 48.0px;
  }

  .becomeavolunteer .label{
    font-family         : "Roboto-bold", Helvetica, Arial, serif !important;
  }

  .becomeavolunteer .rectangle1 {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 259px;
    height              : 46px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .pleaseselect {
    top                 : 235px;
    height              : auto;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteer .rectangle2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 831px;
    height              : 92px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .rectangle3 {
    background-color    : rgba(255, 144, 1, 1.0);
    top                 : 949px;
    height              : 56px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-radius       : 28px;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .continue {
    background-color    : rgba(255,255,255,0.0);
    top                 : 968px;
    height              : auto;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : center;
    line-height         : 19.0px;
  }
  .becomeavolunteer .chooseaposition {
    background-color    : rgba(255,255,255,0.0);
    top                 : 232px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }

  .becomeavolunteer .group {
    background-color    : rgba(255,255,255,0.0);
    top                 : 331px;
    height              : 73px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .group .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 46px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .group .firstnameandlast {
    background-color    : rgba(255,255,255,0.0);
    top                 : 43px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteer .group .fullname {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .becomeavolunteer .groupcopy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 431px;
    height              : 73px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .groupcopy .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 46px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .groupcopy .yourmobilenumber {
    background-color    : rgba(255,255,255,0.0);
    top                 : 43px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteer .groupcopy .telephone {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .becomeavolunteer .groupcopy2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 535px;
    height              : 73px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .groupcopy2 .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 46px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .groupcopy2 .youremailaddress {
    background-color    : rgba(255,255,255,0.0);
    top                 : 43px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteer .groupcopy2 .emailaddress {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }
  .becomeavolunteer .groupcopy3 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 640px;
    height              : 73px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }

  .becomeavolunteer .groupcopy4 {
    top                 : 740px;
    height              : 73px;
    width               : 100%;
    position            : absolute;
  }

  .becomeavolunteer .groupcopy4 input{
    margin-top: 5px;
  }

  .becomeavolunteer .groupcopy5 {
    top                 : 840px;
    height              : 73px;
    width               : 100%;
    position            : absolute;
  }

  .becomeavolunteer .groupcopy5 input{
    margin-top: 5px;
  }

  .becomeavolunteer .groupcopy3 .rectanglecopy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 27px;
    height              : 46px;
    box-sizing          : border-box;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(51, 112, 163, 0.16);
    transform           : rotate(0deg);
    opacity             : 1.0;
  }
  .becomeavolunteer .groupcopy3 .homeofficeaddress {
    background-color    : rgba(255,255,255,0.0);
    top                 : 43px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(177, 177, 177, 1.0);
    text-align          : left;
    line-height         : 16.0px;
  }
  .becomeavolunteer .groupcopy3 .residentialaddress {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 19.0px;
  }

  .volunteer-tab{
    opacity: 1 !important;
  }