<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="becomeavolunteer anima-word-break">
    <div class="page-wrapper">
        <div class="becomeavolunteer1">
            Become a <br />Volunteer
        </div>

        <div class="position-wrapper pleaseselect">
          <select class="form-input" [(ngModel)]="inputs.positionid" data-input="[\d]+" data-message="You must select a position">
            <option value="">Please select</option>
            <option *ngFor="let position of positions" value="{{position.volunteerpositionid}}">{{position.volunteerposition | titlecase}}</option>
          </select>
        </div>

        <a href="javascript:void(0)" ion-button (click)="submit()">
            <div class="rectangle3">
            </div>
            <div class="continue">
              Continue
            </div>
        </a>
        
        <div class="chooseaposition label">
            Choose a Position
        </div>
        
        <div class="group">
          <div class="input-group">
              <input class="form-input" placeholder="First Name" type="text" [(ngModel)]="inputs.firstname" data-input="[\S\s]{2,}" data-parent=".group > .error-wrapper" data-message="Should be your first name">
              <input class="form-input" placeholder="last Name" type="text" [(ngModel)]="inputs.lastname" data-input="[\S\s]{2,}" data-parent=".group > .error-wrapper" data-message="Should be your last name">
          </div>
          <div class="error-wrapper"></div>
          <div class="fullname label">
              Fullname
          </div>
        </div>

        <div class="groupcopy">
            <input class="form-input" placeholder="Your mobile number" [(ngModel)]="inputs.phone" type="tel" data-input="[\d]{6,}" data-message="Must be a valid telephone number">
            <div class="telephone label">
                Telephone
            </div>
        </div>

        <div class="groupcopy2">
            <input class="form-input" placeholder="Your email address" type="email" [(ngModel)]="inputs.email" data-input="[\S]{5,}" data-message="Must be a valid email address">
            <div class="emailaddress label">
                Email Address
            </div>
        </div>

        <div class="groupcopy3">
            <input class="form-input" placeholder="Home/Office address" type="text" [(ngModel)]="inputs.address" data-input="[\S\s]{5,}" data-message="Must be a valid address">
            <div class="residentialaddress label">
                Residential Address
            </div>
        </div>

        <div class="groupcopy4">
          
          <div class="label">
              Password
          </div>

          <input class="form-input" placeholder="Your password" type="password" [(ngModel)]="inputs.password" data-input="[\S\s]{4,}" data-message="Should be a password you can remember">
        </div>

        <div class="groupcopy5">
          
          <div class="label">
              Password Again
          </div>

          <input class="form-input" placeholder="Your password again" type="password" [(ngModel)]="inputs.password_again" data-input="[\S\s]{4,}" data-message="Should match your password, and cannot be empty">
        </div>

        <div class="groupcopy7">
          <select class="form-input" [(ngModel)]="inputs.gender" data-input="[\S]{2,}" data-message="You must select a gender">
            <option value="">Please select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div class="gender label">
              Gender
          </div>
        </div>

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>