<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sendavideo anima-word-break">
    <div class="page-wrapper">

        <div class="sendavideo1">
            Send a<br />Video
        </div>
        <label for="video_file" ion-button id="isButton">
            <div class="group">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/send-a-video-oval@2x.png" class="oval"/>
                <div class="uploadfromyourpho">
                    Upload from your<br />phone library
                </div>
                <div class="upload">
                    <img alt="Image/" src="../../assets/img/send-a-video-path@2x.png" class="path"/>
                    <img alt="Image/" src="../../assets/img/send-a-video-path-1@2x.png" class="path1"/>
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path"/>
                </div>
            </div>

            <input type="file" style="display: none;" accept="{{formats}}" name="video_file" id="video_file"/>
        </label>
        <a href="javascript:void(0)" ion-button>
            <div class="groupcopy">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/send-a-video-oval-1@2x.png" class="oval"/>
                <div class="recordanewvideo">
                    Record a new <br />video
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path"/>
                </div>
            </div>
        </a>
       
        <div class="videocamera1">
            <img alt="Image/" src="../../assets/img/send-a-video-shape-8@2x.png" class="shape"/>
            <img alt="Image/" src="../../assets/img/send-a-video-shape-9@2x.png" class="shape1"/>
        </div>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>