<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="translucent" id="article-app-header">
    <app-article-header></app-article-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content-wrapper">
  <ion-slides id="slides-container" paginationType="fraction" *ngIf="loaded === false">
    
    <ion-slide id="slide-container" style="background-image: url('../../assets/img/demo-article-image.svg');">
      <div class="slide-content page-wrapper">
        <h1>
          <span class="preloader"></span>
          <span class="preloader"></span>
        </h1>
        <a href="javascript:void(0)" ion-button>
        </a>
      </div>
    </ion-slide>

  </ion-slides>

  <ion-slides *ngIf="loaded === true" id="slides-container" (ionSlidesDidLoad)="slideLoaded($event)" (ionSlideDidChange)="slideChanged($event)" paginationType="fraction">
    
    <ion-slide id="slide-container" *ngFor="let article of articles" style="background-image: url('{{loadImage(article.article_cover_image)}}');" (click)="load(article)">
      <div class="slide-content page-wrapper">
        <h1>{{article.article_title | titlecase}}</h1>
        <a href="javascript:void(0)" ion-button (click)="load(article)">
          <img src="../../assets/img/arrow-right-white.svg"/>
        </a>
      </div>
    </ion-slide>
    
  </ion-slides>

  <!-- counter -->
  <div class="counter" *ngIf="loaded === true">
    {{currentSlide}}/{{totalSlides}}
  </div>

</ion-content>
