<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
  <div class="reportacase anima-word-break ">
    <div class="page-wrapper">
        <div class="reportacase1">
            Report a<br />Case
        </div>

        <div class="report-case-wrapper">

          <div class="case-row">
              <a href="javascript:void(0)" ion-button (click)="phoneCall()">
                <div class="case-row-icon phone-call">
                  <img src="../../assets/img/p-phone-white.svg"/>
                </div>
                <span class="case-row-text">
                  Make a Phone call
                </span>
              </a>
          </div>


          <div class="case-row">
            <a href="javascript:void(0)" ion-button [routerLink]="['/send-a-video']">
              <div class="case-row-icon send-video">
                <img src="../../assets/img/p-video-camera.svg"/>
              </div>
              <span class="case-row-text">
                Send a Video
              </span>
            </a>
          </div>

          <div class="case-row">
            <a href="javascript:void(0)" ion-button [routerLink]="['/send-an-audio']">
              <div class="case-row-icon send-audio">
                <img src="../../assets/img/p-microphone-1.svg"/>
              </div>
              <span class="case-row-text">
                Send an Audio
              </span>
            </a>
          </div>


          <div class="case-row">
            <a href="javascript:void(0)" ion-button [routerLink]="['/send-a-message']">
              <div class="case-row-icon send-message">
                <img src="../../assets/img/p-compose.svg"/>
              </div>
              <span class="case-row-text">
                Send a Message
              </span>
            </a>
          </div>


        </div>
        
        
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>