.reportacase {
    width               : 100%;
    height              : 100vh;
    min-height          : 688px;
    position            : relative;
    overflow            : hidden;
    margin              : 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color    : rgba(255, 255, 255, 1.0);
    opacity             : 1.0;
}

.reportacase .reportacase1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 80px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    transform           : rotate(0deg);
    opacity             : 1.0;
    font-family         : "Roboto-bold", Helvetica, Arial, serif;
    font-style          : normal;
    font-size           : 47.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 48.0px;
  }
  .reportacase .report-case-wrapper {
    background-color    : rgba(255,255,255,0.0);
    top                 : 234px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    transform           : rotate(0deg);
    opacity             : 1.0;
    display             : grid;
    grid-template-columns : 1fr 1fr;
    width               : 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .reportacase .report-case-wrapper .case-row{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }

  .reportacase .report-case-wrapper .case-row:nth-of-type(odd){
    justify-content: flex-start;
  }

  .reportacase .report-case-wrapper .case-row:nth-of-type(even){
    justify-content: flex-end;
  }

  .reportacase .report-case-wrapper .case-row a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 123px;
    color: #000;
  }

  .report-case-wrapper .case-row-icon{
    width: 123px;
    height: 116px;
    border-radius: 20px;
    box-shadow: -1px 7px 8px rgba(0,0,0,0.18);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .report-case-wrapper .case-row-text{
    font-size           : 14px;
    font-family         : "Roboto", Helvetica, Arial, serif;
    margin              : 0 auto;
    margin-top          : 20px;
    width               : 65px;
    display             : block;
    text-align          : center;
  }

  .case-row .phone-call{
    background: #00CC5F;
  }

  .case-row .send-video{
    background: #FFD862;
  }

  .case-row .send-audio{
    background: #3370A3;
  }

  .case-row .send-message{
    background: #FF9001;
  }