<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-video-header></app-video-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="publishedvideos anima-word-break ">
    <div class="page-wrapper">
        <div class="videos">
            Videos
        </div>

        <div class="video-list-wrapper">

          <div class="video-list" *ngFor="let video of videos">
            <a href="javascript:void(0)" ion-button (click)="info(video)">
              <h2>{{video.video_title | titlecase}}</h2>
              <div class="video-list-footer">
                <span>{{video.submittedby}}</span>
                <span>{{video.video_length}}</span>
              </div>
            </a>
          </div>

        </div>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <select class="video-filter">
    <option value="asc">A - Z</option>
    <option value="desc">Z - A</option>
  </select>
  <app-basic-footer></app-basic-footer>
</ion-footer>