<ion-content [fullscreen]="true">
  <div class="homescreen anima-word-break">
    <div class="page-wrapper-no-height">
        <div class="welcome">
            Welcome
        </div>
        <div class="recommendedforyou">
            Recommended for you
        </div>
        <a href="javascript:void(0)" ion-button [routerLink]="['/about']">
            <div class="rectangle">
            </div>
            <img alt="Image/" src="../../assets/img/N6nc-video-submitted-successfully-oval@2x.png" class="oval"/>
        
            <div class="boameprovidessuppo">
                BOAME provides support <br />&amp; information against<br />sexual gender based <br />violence …
            </div>
            <div class="info">
                <img alt="Image/" src="../../assets/img/home-screen-path@2x.png" class="path"/>
                <img alt="Image/" src="../../assets/img/home-screen-path-1@2x.png" class="path1"/>
            </div>
        </a>

        <div class="button-container">
            <a href="javascript:void(0)" *ngIf="reportCase" [routerLink]="['/report-case']" ion-button id="buttonwrapper">
                <div class="group2">
                    <div class="group">
                        <div class="rectangle1">
                        </div>
                        <div class="genderviolenceconceptillustration1143601972">
                            <img alt="Image/" src="../../assets/img/1.png" class="layer0"/>
                        </div>
                    </div>
                    <div class="reportacase">
                        Report a <br />Case
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" *ngIf="becomeAVolunteer" [routerLink]="['/become-a-volunteer']" ion-button id="buttonwrapper">
                <div class="group2copy">
                    <div class="group">
                        <div class="rectangle1">
                        </div>
                        <div class="stopgenderviolenceconcept232148582544">
                            <img alt="Image/" src="../../assets/img/2.png" class="layer0"/>
                        </div>
                    </div>
                    <div class="becomeavolunteer">
                        Become a <br />Volunteer
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" *ngIf="volunteers" [routerLink]="['/volunteers']" ion-button id="buttonwrapper">
                <div class="group2copy2">
                    <div class="group">
                        <div class="rectangle1">
                        </div>
                        <div class="a46512">
                            <img alt="Image/" src="../../assets/img/7.png" class="layer0"/>
                        </div>
                    </div>
                    <div class="volunteers">
                        Volunteers
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" *ngIf="knowledgeCenter" [routerLink]="['/knowledge-center']" ion-button id="buttonwrapper">
                <div class="group2copy3">
                    <div class="group">
                        <div class="rectangle1">
                        </div>
                        <div class="a46512x">
                            <img alt="Image/" src="../../assets/img/3.png" class="layer0"/>
                        </div>
                    </div>
                    <div class="knowledgecenter">
                        Knowledge <br />Center
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" *ngIf="counselling" (click)="chat()" ion-button id="buttonwrapper">
                <div class="group2copy4">
                    <div class="group">
                        <div class="rectangle1">
                        </div>
                        <div class="pngtreementalhealthcounselingimage2226225">
                            <img alt="Image/" src="../../assets/img/5.png" class="layer0"/>
                        </div>
                    </div>
                    <div class="councelling">
                        Councelling
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</ion-content>


<ion-footer class="ion-no-border">
    <app-basic-footer></app-basic-footer>
</ion-footer>