<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="translucent">
    <app-counselor-chat-header></app-counselor-chat-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-wrapper-no-height">
    <div class="chat-lists">

      <div class="chat-list" ion-button>
        <div class="chat-list-image">
          <img src="../../assets/img/unnamed(1).jpg"/>
        </div>
        <div class="chat-list-content">
          <div class="chat-list-header">
            <span class="chat-name">Martin Micheal</span>
          </div>
          <div class="chat-list-footer">
            <span class="pointer success"></span>
            <span class="short-message">avaliable</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>