<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sendanaudio anima-word-break">
    <div class="page-wrapper">

        <div class="sendanaudio1">
            Send an<br />Audio
        </div>
        <label ion-button for="audio_file">
            <div class="group">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/xQTj-knowledge-center-oval@2x.png" class="oval" />
                <div class="uploadfromyourpho">
                    Upload from your<br />phone library
                </div>
                <div class="upload">
                    <img alt="Image/" src="../../assets/img/send-an-audio-path@2x.png" class="path" />
                    <img alt="Image/" src="../../assets/img/send-an-audio-path-1@2x.png" class="path1" />
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path" />
                </div>
                <input type="file" style="display: none;" accept="{{formats}}" name="audio_file" id="audio_file"/>
            </div>
        </label>
        <a href="recordvoice.html">
            <div class="groupcopy">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/ceTK-send-an-audio-oval-1@2x.png" class="oval" />
                <div class="recordanewvoice">
                    Record your <br />voice
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path" />
                </div>
            </div>
        </a>
        
        <div class="microphone">
            <img alt="Image/" src="../../assets/img/send-an-audio-path-9@2x.png" class="path" />
            <img alt="Image/" src="../../assets/img/send-an-audio-shape-8@2x.png" class="shape" />
        </div>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>