<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video-wrapper">
    <video poster="{{loadFile(video.attachment.video_frame_address)}}" controls>
      <source src="{{loadFile(video.attachment.video_address)}}" type="video/mp4"/>
    </video>
  </div>

  <div class="page-wrapper">
    <h2 class="video-title">{{video.video_title | titlecase}}</h2>
    <span class="views">{{video.attachment.total_views}} views</span>
    <div class="options">
      <a href="javascript:void(0)" (click)="like()">
        <img src="../../assets/img/like-faded.svg"/>
        <span>{{total_likes}}</span>
      </a>

      <a href="javascript:void(0)" (click)="dislike()">
        <img src="../../assets/img/dislike-faded.svg"/>
        <span>{{total_dislikes}}</span>
      </a>

      <a href="javascript:void(0)">
        <img src="../../assets/img/share-faded.svg"/>
        <span>Share</span>
      </a>
    </div>

    <!-- author -->
    <div class="author">
      <img src="{{loadFile(profile_image)}}"/>
      <span class="author-name">{{video.submittedby | titlecase}}</span>
    </div>

    <!-- date published -->
    <div class="date-published">{{video.date_string}}</div>

    <!-- about -->
    <p class="about-video">
      {{video.attachment.video_caption}} 
    </p>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>