<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video-wrapper">
    <video poster="../../assets/img/fRUp-watch-video-african-city-skyline-night.jpg" controls>
      <!-- <source src="" type="video/mp4"/> -->
    </video>
  </div>

  <div class="page-wrapper">
    <h2 class="video-title">Making Men</h2>
    <span class="views">20 views</span>
    <div class="options">
      <a href="javascript:void(0)">
        <img src="../../assets/img/like-faded.svg"/>
        <span>20</span>
      </a>

      <a href="javascript:void(0)">
        <img src="../../assets/img/dislike-faded.svg"/>
        <span>0</span>
      </a>

      <a href="javascript:void(0)">
        <img src="../../assets/img/share-faded.svg"/>
        <span>Share</span>
      </a>
    </div>

    <!-- author -->
    <div class="author">
      <img src="../../assets/img/author-image.svg"/>
      <span class="author-name">Christopher Joe</span>
    </div>

    <!-- date published -->
    <div class="date-published">August 4, 2020</div>

    <!-- about -->
    <p class="about-video">
      Owing to the SGBV Helplines, there has been identified lapses, which the SGBV helpline as unable to
      attend to, the issue of prompt responsiveness to counselling and other psychosocial support. 
    </p>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>