<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="knowledgecenter anima-word-break ">
    <div class="page-wrapper">
        <div class="knowledgecenter1">
            Knowledge<br />Center
        </div>
        <a href="javascript:void(0)" ion-button>
            <div class="group">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/xQTj-knowledge-center-oval@2x.png" class="oval" />
                <div class="articles">
                    Articles
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path" />
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" ion-button>
            <div class="groupcopy">
                <div class="rectangle1">
                </div>
                <img alt="Image/" src="../../assets/img/ceTK-send-an-audio-oval-1@2x.png" class="oval" />
                <div class="videos">
                    Videos
                </div>
                <div class="arrowright">
                    <img alt="Image/" src="../../assets/img/mwr3-knowledge-center-path-1@2x.png" class="path" />
                </div>
            </div>
        </a>
        <div class="stayinformeddaily">
            Stay informed daily with our health related vidoes.
        </div>
        <img alt="Image/" src="../../assets/img/DLLg-send-a-feedback-rectangle.png" class="rectangle" />
        
        <div class="stayinformeddaily1">
            Stay informed daily with our health related articles.
        </div>
        <div class="videoplayer">
            <img alt="Image/" src="../../assets/img/knowledge-center-shape-8@2x.png" class="shape" />
            <img alt="Image/" src="../../assets/img/knowledge-center-shape-9@2x.png" class="shape1" />
        </div>
        <div class="notebook">
            <img alt="Image/" src="../../assets/img/1Qsg-knowledge-center-path-11@2x.png" class="path" />
            <img alt="Image/" src="../../assets/img/1Qsg-knowledge-center-path-11@2x.png" class="path1" />
            <img alt="Image/" src="../../assets/img/1Qsg-knowledge-center-path-11@2x.png" class="path2" />
            <img alt="Image/" src="../../assets/img/1Qsg-knowledge-center-path-11@2x.png" class="path3" />
            <img alt="Image/" src="../../assets/img/1Qsg-knowledge-center-path-11@2x.png" class="path4" />
            <img alt="Image/" src="../../assets/img/knowledge-center-shape-10@2x.png" class="shape" />
        </div>
    </div>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>