<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-go-back></app-go-back>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="videoinformation anima-word-break ">
    <div class="page-wrapper">
        <div class="title">
            Making<br />Men
        </div>
        <div class="a2020">
            2020
        </div>
        <div class="a15mins">
            15 Mins
        </div>
        <a href="javascript:void(0)" ion-button [routerLink]="['/watch-video']">
          <div class="group">
              <div class="rectangle1">
              </div>
              <img alt="Image/" src="../../assets/img/fRUp-watch-video-african-city-skyline-night.jpg" class="bgimage"/>
          </div>
          <div class="author">
              Christopher Joe
          </div>
          <a href="watchvideo.html">
              <div class="rectangle">
              </div>
          </a>
          <div class="playbutton">
              <img alt="Image/" src="../../assets/img/video-information-shape@2x.png" class="shape"/>
          </div>
        </a>
    </div>
</div>
</ion-content>
