<ion-content [fullscreen]="true">
  <div class="loginaftersplash anima-word-break">
    <div class="page-wrapper">
        <div class="logintocontinue">
            Login to <br />Continue
        </div>
        <a href="javascript:void(0)" ion-button (click)="login()">
            <div class="rectangle btn-group">
              Login
            </div>
        </a>
        <div class="groupcopy">
            <input class="form-input" placeholder="Email or Telephone" type="text" [(ngModel)]="username" data-input="[\S]{2,}" data-message="You must provide a valid username">
            <div class="username">
                Username
            </div>
        </div>
        <div class="groupcopy2">
            <input class="form-input" placeholder="Your password" type="password" [(ngModel)]="password" data-input="[\S\s]{4,}" data-message="Your password must not be empty or less than 4 characters">
            <div class="password">
                Password
            </div>
        </div>

        <div class="">
          <div class="rectangle1 add-shadow-and-curve">
          </div>
          <div class="clickheretologin">
              Click here to login to your <br />account from facebook.
          </div>
          <div class="facebookcolored">
              <img alt="Image/" src="../../assets/img/eidx-login-after-splash-oval@2x.png" class="oval"/>
              <img alt="Image/" src="../../assets/img/do48-login-after-splash-path@2x.png" class="path"/>
          </div>
        </div>

        <a href="javascript:void(0)" ion-button [routerLink]="['/homescreen']">
            <div class="skiploginandconti">
                Skip login and continue
            </div>
        </a>
        <a href="javascript:void(0)" ion-button [routerLink]="['/create-account']">
            <div class="createone">
                + Create one
            </div>
        </a>
        <a href="javascript:void(0)" ion-button [routerLink]="['/reset-password']">
            <div class="reset">
                Reset ?
            </div>
        </a>
    </div>
  </div>
</ion-content>
