<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-volunteer-header></app-volunteer-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
  <div class="volunteers anima-word-break">
    <div class="page-wrapper">
        
        <div class="volunteers1">
            Volunteers
        </div>

        <div class="group2">

          <div class="volunteer-wrapper" *ngFor="let volunteer of volunteers" (click)="info(volunteer)">
            <div class="volunteer-wrapper-content">
              <a href="javascript:void(0)" ion-button>
                <div class="group">
                  <img alt="Image/" src="{{loadImage(volunteer.display_image)}}" class="a1x1" />
                </div>
                <div class="volunteer-content">
                  <div class="volunteer-name">
                    {{volunteer.firstname | titlecase}} {{volunteer.lastname | titlecase}}
                  </div>
                  <div class="position">
                      {{volunteer.information.position | titlecase}}
                  </div>
                  <div class="bio">
                    {{trimBio(volunteer.information.biography) | titlecase}}
                  </div>
                </div>
              </a>
            </div>
          </div>
            
        </div>
        
    </div>
  </div>  

  <div class="select-role-container">
    <div class="selectarole anima-word-break">
      <div class="page-wrapper">
          <div class="selectarole-title">
              Volunteers
          </div>

          <div class="pleaseselectarole">
              Please select a role
          </div>

          <div class="sortvolunteersbyt">
              Sort Volunteers by the role <br />they occupy.
          </div>

          <div class="select-dropdown">
            <select class="form-input" [(ngModel)]="role">
              <option value="">Please select a role</option>
              <option value="all">All</option>
              <option *ngFor="let position of positions" value="{{position.volunteerpositionid}}">{{position.volunteerposition | titlecase}}</option>
            </select>
          </div>

          <a href="javascript:void(0)" ion-button (click)="selectRole()">
            <div class="rectangle1">
              Submit
            </div>
          </a>

          <a href="javascript:void(0)" ion-button data-target="closeblackthin">
              <div class="closeblackthin">
                  <img alt="Image/" src="../../assets/img/select-a-role-path-2@2x.png" class="path"/>
              </div>
          </a>
      </div>
  </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-basic-footer></app-basic-footer>
</ion-footer>